.header_fixed {width: 100%; height: 48px; background: white; text-align: center; z-index: 999;}
.icon {width: 24px; height: 24px;}
.logo{background-image: "images/logo@2x.png";}
.back{background-image: "images/logo@2x.png";}
.help{background-image: "images/logo@2x.png";}
