@charset "utf-8";

*,p,h1,h2,h3,h4 {
  margin: 0px;
  padding: 0px;
  font-family: SimHei;
}

body {
  background-color: #F1F0F0;
}

.bk-white {
  background: #fff;
}

/** header **/
.c-header {
  z-index: 999;
  border-bottom: 2px solid #ddd;
}

.c-header .ch {
  height: 48px;
  line-height: 48px;
}

.c-header .ch span {
  vertical-align: middle;
}

.c-header .h-back {
  text-align: left;
}

.c-header .h-center {
  text-align: center;
}

.c-header .h-help {
  text-align: right;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  display: inline-block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo {
  background-image: url("../images/logo@2x.png");
}

.back {
  background-image: url("../images/back@2x.png");
}

.help {
  background-image: url("../images/help@2x.png");
}

.size45 {
  width:45px;
  height: 45px;
}

.sback {
  text-align: left;
}

.sHelp {
  text-align: right;
}

/** content **/
.c-title {
  height:48px;
  text-align: center;
  margin: 0;
  line-height: 48px
}

.c-tabs{
  border-top: 1px solid #ED5256;
  border-bottom: 1px solid #ED5256;
  padding:0;
}

.c-tabs .tb-item{
  display: inline-block;
  height:40px;
  width:100%;
  font-size: 15px;
  line-height: 45px;
  color:#ED5256;
  text-decoration: none;
  text-align: center;
}

.c-tabs .selected{
  color:#fff;
  background-color: #ED5256;
}

.faderbar{
  height:20px;
  background: url("../images/bk@2px.png") repeat-x;
}
.borderline{
  height: 15px;
  border-top: 2px solid #ddd;
  background-color: #F1F0F0;
}
.c-item{
  border-left: 1px solid #F1F0F0;
  padding-bottom: 6px;
}

.c-item .i-border{
  text-align: center;
  background-size: 45%;
  background-repeat: no-repeat;
  padding:0;
  padding-top: 6%;
}

.unpay{
  background-image: url("../images/unpay.png");
}

.payed{
  background-image: url("../images/payed.png");
}

.expired{
  background-color: #e5e5e5;
}

.c-item .i-pic{
  text-align: center;
  margin: 0 auto;
}

.c-item .i-pic .pic{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
}

.c-item .i-pic .female{
  border:2px solid #fcc8d5;
}

.c-item .i-pic .male{
  border:2px solid #85cddf;
}

.c-item .pic-title {
  font-style: italic;
  font-size: 16px;
  margin: 10px 0;
}

.c-item .i-info{
  padding:0;
  padding-top: 6%;
  padding-right: 6%;
}

.c-item .i-info .info-title{
  margin: 0;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.c-item .i-info .info-desc{
  color: #777;
  height:40px;
  word-break: break-all;
  overflow: hidden;
  font-size: 14px;
}

.c-item .i-info .info-prod{
  font-size: 14px;
  color:#ED5256;
}

.c-item .i-info .info-prod .prod-eval{
  padding-right: 0;
}

.c-item .i-info .info-prod .prod-eval .time{
  padding: 6px 0;
  height: 32px;
}
.c-item .i-info .info-prod .prod-eval .appraise{
  list-style:none;
  margin:0px;
}
.c-item .i-info .info-prod .prod-eval .appraise li{
  float:left;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size:100%;
}
.star-solid{
  background-image: url("../images/duobianx@2x.png");
}
.star-hollow{
  background-image: url("../images/duobianx02@2x.png");
}
.c-item .i-info .info-prod .prod-priceInfo{
  padding-top:2px;
  text-align: right;
}
.c-item .i-info .info-prod .prod-priceInfo .price{
  margin-top: -6px;
}

.c-item .i-info .info-prod .prod-priceInfo .price i{
  font-size: 20px;
  font-style: normal;
  color:#333;
}

.c-item .i-info .info-prod .prod-priceInfo .price i.p-unit{
  font-size: 14px;
  padding:3px 3px 0 ;
}
.c-item .i-info .info-prod .prod-priceInfo .btn{
  padding:2px 10px;
}
.c-item .i-info .info-prod .prod-priceInfo .detailBtn{
  color:#ED5256;
  border-color: #ED5256
}

.c-item .i-info .info-prod .prod-priceInfo .expiredBtn{
  color:#fff;
  background-color: #898989;
  border: none;
}
  